<a href="https://colab.research.google.com/github/ccal2/dataScienceProject/blob/master/project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Introdução

Esse projeto foi desenvolvido utilizando dois arquivos `.csv` que contêm dados relacionados aos livros da série *Game of Thrones* (A Guerra dos Tronos).

Os arquivos foram baixados diretamente de um dataset do [kaggle](https://www.kaggle.com/mylesoneill/game-of-thrones).


No arquivo `battles.csv` temos informações de várias batalhas que ocorreram durante a história e em `character-deaths.csv` podemos ver uma lista de personagens com dados relacionados à suas mortes.

# Setup

**Lembre-se de dar upload dos arquivos `battles.csv` e `character-deaths.csv`.**

In [1]:
import pandas as pd
import numpy as np

In [2]:
battles = pd.read_csv('battles.csv')
deaths = pd.read_csv('character-deaths.csv')

# Pré-processamento

## Battles (batalhas)

In [3]:
battles.head()

                            name  year  ...           region note
0     Battle of the Golden Tooth   298  ...  The Westerlands  NaN
1    Battle at the Mummer's Ford   298  ...   The Riverlands  NaN
2             Battle of Riverrun   298  ...   The Riverlands  NaN
3       Battle of the Green Fork   298  ...   The Riverlands  NaN
4  Battle of the Whispering Wood   298  ...   The Riverlands  NaN

[5 rows x 25 columns]

In [4]:
# (linhas, colunas)
battles.shape

(38, 25)

### Redefinição do *index*

A coluna `battle_number` é um ID único atribuído a cada batalha. Nós podemos confirmar essa informação comparando a quantidade de linhas no *data frame* (38) com a quantidade de valores únicos dessa coluna:

In [5]:
battles['battle_number'].nunique()

38

Já que temos um ID único, podemos substituir o *index* automático por ele:

In [6]:
battles.set_index('battle_number', inplace=True)
battles.head()

                                        name  year  ...           region note
battle_number                                       ...
1                 Battle of the Golden Tooth   298  ...  The Westerlands  NaN
2                Battle at the Mummer's Ford   298  ...   The Riverlands  NaN
3                         Battle of Riverrun   298  ...   The Riverlands  NaN
4                   Battle of the Green Fork   298  ...   The Riverlands  NaN
5              Battle of the Whispering Wood   298  ...   The Riverlands  NaN

[5 rows x 24 columns]

### Expansão de `attacker_commander` e `defender_commander`

As colunas `attacker_commander` e `defender_commander` possuem vários nomes separados por vírgulas. Vamos expandir essas colunas para ficar com um nome por coluna:

In [7]:
# separar nomes de 'attacker_commander'
split_attacker_commanders = battles["attacker_commander"].str.split(",", expand=True)
split_attacker_commanders.head()

                             0                1  ...                4     5
battle_number                                    ...
1              Jaime Lannister             None  ...             None  None
2               Gregor Clegane             None  ...             None  None
3              Jaime Lannister      Andros Brax  ...             None  None
4                 Roose Bolton   Wylis Manderly  ...   Halys Hornwood  None
5                   Robb Stark    Brynden Tully  ...             None  None

[5 rows x 6 columns]

In [8]:
# separar nomes de 'defender_commander'
split_defender_commanders = battles["defender_commander"].str.split(",", expand=True)
split_defender_commanders.head()

                              0                 1  ...     5     6
battle_number                                      ...
1                 Clement Piper             Vance  ...  None  None
2              Beric Dondarrion              None  ...  None  None
3                  Edmure Tully   Tytos Blackwood  ...  None  None
4               Tywin Lannister    Gregor Clegane  ...  None  None
5               Jaime Lannister              None  ...  None  None

[5 rows x 7 columns]

In [9]:
# remover colunas 'attacker_commander' e 'defender_commander'
battles = battles.drop(columns=['attacker_commander', 'defender_commander'])

# adicionar novas colunas de 'attacker_commander_x'
battles['attacker_commander_1'] = split_attacker_commanders[0]
battles['attacker_commander_2'] = split_attacker_commanders[1]
battles['attacker_commander_3'] = split_attacker_commanders[2]
battles['attacker_commander_4'] = split_attacker_commanders[3]
battles['attacker_commander_5'] = split_attacker_commanders[4]
battles['attacker_commander_6'] = split_attacker_commanders[5]

# adicionar novas colunas de 'defender_commander_x'
battles['defender_commander_1'] = split_defender_commanders[0]
battles['defender_commander_2'] = split_defender_commanders[1]
battles['defender_commander_3'] = split_defender_commanders[2]
battles['defender_commander_4'] = split_defender_commanders[3]
battles['defender_commander_5'] = split_defender_commanders[4]
battles['defender_commander_6'] = split_defender_commanders[5]
battles['defender_commander_7'] = split_defender_commanders[6]

battles.head()

                                        name  ...  defender_commander_7
battle_number                                 ...
1                 Battle of the Golden Tooth  ...                  None
2                Battle at the Mummer's Ford  ...                  None
3                         Battle of Riverrun  ...                  None
4                   Battle of the Green Fork  ...                  None
5              Battle of the Whispering Wood  ...                  None

[5 rows x 35 columns]

### Definição de tipos

In [10]:
battles.dtypes

name                     object
year                      int64
attacker_king            object
defender_king            object
attacker_1               object
attacker_2               object
attacker_3               object
attacker_4               object
defender_1               object
defender_2               object
defender_3              float64
defender_4              float64
attacker_outcome         object
battle_type              object
major_death             float64
major_capture           float64
attacker_size           float64
defender_size           float64
summer                  float64
location                 object
region                   object
note                     object
attacker_commander_1     object
attacker_commander_2     object
attacker_commander_3     object
attacker_commander_4     object
attacker_commander_5     object
attacker_commander_6     object
defender_commander_1     object
defender_commander_2     object
defender_commander_3     object
defender_commander_4     object
defender_commander_5     object
defender_commander_6     object
defender_commander_7     object
dtype: object